{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
  <center>
    <p><img src="{% static 'img/zahfan.jpg' %}" style="height:7cm"></p>
    <h1 style="color:black">Pernekalkan Saya</h1>
    <h2 style="color:black"><font face="comic sans ms">M. Zahrul Fanani 181810101049</font><br></h2>
    <h2 style="color:black"><font face="comic sans ms">FAKULTAS MATEMATIKA DAN ILMU PENGETAHUAN ALAM</font><br></h2>
    <h2 style="color:black"><font face="comic sans ms">UNIVERSITAS JEMBER</font><br></h2>
    <marquee behavior="scroll" direction="up" scrollamount="1">Zahrul</marquee>
    <marquee behavior="scroll" direction="right" scrollamount="12">Fanani</marquee>
    <marquee behavior="scroll" direction="left" scrollamount="20">Universitas Jember</marquee>
    <marquee behavior="scroll" direction="right" scrollamount="50">Fakultas MIPA</marquee>
  </center>

