<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<head>-->
<!--  <meta http-equiv="refresh" content="5; URL=https://www.bitdegree.org/" />-->
<!--  <script type="text/javascript" src="scripts.js"></script>-->
<!--  <link rel="stylesheet" href="styles.css">-->
<!--</head>-->

<!--<body>-->
<!--  <p>If you are not redirected in five seconds, <a href='haha'>click here</a>.</p>-->
<!--</body>-->

<!--</html>-->


<!DOCTYPE html>
<html>
<body>
<center>
  <h1>zAHRUL FANANIII <br>
</h1>

<form action='haha'>
  <input type="submit" value="Pencet untuk lanjut">
</form>

<p>Login untuk Masuk.</p>
</center>
</body>
</html>